.cardContainer {
  border: 2px solid #eaefed;
  box-sizing: border-box;
  width: 319px;
  height: 89px;
  margin-top: 24px;
  border-radius: 8px;
  padding: 16px;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  div {
    position: relative;

    h4 {
      color: #587169;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 8px;
    }

    .iconArrowDown {
      position: absolute;
      margin-top: 20px;
      right: 0;
      top: 0;
      width: 25px;
      height: 25px;
      color: #587169;
      cursor: pointer;
    }

    p {
      font-size: 12px;
      font-weight: 600;
      line-height: 16.8px;
      color: #587169;
      text-align: left;
    }

    span {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      width: 90%;
  
      img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
  
        border-radius: 50%;
      }
    }
  }
}

.cardContainerDrop {
  border: 2px solid #B5F1DD;
  box-sizing: border-box;
  width: 319px;
  height: 380px;
  margin-top: 24px;
  border-radius: 8px;
  padding: 16px;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  position: relative;

  .gridContainer {
    display: grid;
    margin-top: 16px;
    grid-template-columns: 50% 50%; 

    div {
      margin-bottom: 29px;
    }

    div > h4 {
      color: #587169;
      font-weight: 600;
      font-size: 12px;
      line-height: 16.8px;
    }

    div > p {
      font-weight: 400;
      font-size: 12px;
      line-height: 16.8px;
      color: #587169;
    }

  }

  div {
    position: relative;

    h4 {
      color: #587169;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 8px;
    }

    .iconArrowDown {
      position: absolute;
      margin-top: 20px;
      right: 0;
      top: 0;
      width: 25px;
      height: 25px;
      color: #587169;
      cursor: pointer;
      user-select: none;
      outline: none;
      transform: rotate(180deg);
    }

    p {
      font-size: 12px;
      font-weight: 600;
      line-height: 16.8px;
      color: #587169;
      text-align: left;
    }

    span {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      width: 90%;
  
      img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
  
        border-radius: 50%;
      }
    }
    
  }

  .activeUser {
    position: absolute;
    bottom: 100px;

    h4 {
      font-weight: 600;
      font-size: 12px;
      line-height: 16.8px;
      font-style: normal;
      color: #587169;
    }

    span {
      color: #34423D;
      border: none;
      background-color: #B5F1DD;
      padding: 4px 8px;
      border-radius: 80px;
      width: 72px;
      height: 24px;
      display: flex;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
    }
  }

  button {
    background-color: #FFF;
    border: 2px solid #B5F1DD;
    width: 287px;
    height: 52px;
    border-radius: 8px;
    padding: 14px 24px 14px 24px;
    gap: 8px;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 24px;
    position: absolute;
    bottom: 24px;
    margin-left: -2px;

    .addFile {
      width: 22px;
      height: 28px;
      color: #1DD195;
    }
  }
}