$NeutralColorsWhite: #FFFFFF;
$NeutralColorsBlack: #34423D;
$Neutral1:#EAEFED;
$Neutral5: #587169;

.headerContainer {
  width: 100vw;
  height: 61px;
  padding: 0px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  background-color: #FFF;

}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B5F1DD;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin: 14px 0;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 29%;
  margin-bottom: 0.8rem;

  :last-child {
    filter: blur(0.85);
    position: relative;
    top: 0.4rem;
    right: 2.1rem;
  }
}

.headerContainerBigSize {
  align-items: center;
  background-color: $NeutralColorsWhite;
  border: 1px solid $Neutral1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 61px;
  padding: 0px 32px;
  width: 100%;

  a {
    border-right: 1px solid $Neutral1;
    img {
      width: 35.47px;
      height: 34.69px;
      margin: 13.15px 32px;
    }
  }

  .userContainer {
    align-items: center;
    border-left: 1px solid $Neutral1;
    display: flex;
    flex-direction: row;
    padding-left: 32px;
    width: 216px;

    .userIcon {
      height: 32px;
      width: 32px;
    }

    .nameContainer {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;

      h2 {
        color: $NeutralColorsBlack;
        font-size: 14px;
        font-weight: 600;
        height: 14px;
        line-height: 100%;
        width: 110px;
      }
  
      p {
        color: $Neutral5;
        font-size: 12px;
        font-weight: 400;
        height: 14px;
        line-height: 100%;
        width: 76px;
      }
    }

  }
}