$screen-mb-l: 425px;
$screen-tablet: 768px;
$screen-laptop: 1024px;
$screen-laptop-l: 1440px;

.headerContainer {
  width: 100vw;
  height: 61px;
  padding: 0px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  background-color: #FFF;

}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B5F1DD;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin: 14px 0;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 29%;
  margin-bottom: 0.8rem;

  :last-child {
    filter: blur(0.85);
    position: relative;
    top: 0.4rem;
    right: 2.1rem;
  }
}