@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: #f8faf9;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Poppins";
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 6px;
  border:2px solid rgba(202, 214, 209, 1);

  &:checked {
    border:2px solid rgba(29, 209, 149);
    background-image: url('../../public/images/check.svg');
    background-repeat: no-repeat;
    background-color: rgb(29,209,149);
    background-position: center;
  }
 }
