.homeContainer {
  display: flex;
  flex-direction: column;
  width: 348px;
  margin: 0 auto;

  h1 {
    width: 184px;
    height: 24px;
    margin-top: 41px;
    margin-left: 16px;
    margin-bottom: 24px;
    color: #34423d;
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
  }

}
