.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 40px;
  width: 25rem;
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(165, 171, 179, 0.16);
  border-radius: 8px;
  padding: 40px 0px 40px 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  margin-bottom: 125px;

  select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #587169;
    background-color: #fff;
    border: 2px solid #cad6d1;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 316px;
    height: 56px;
    margin-left: 0.3rem;
    margin-bottom: 40px;
    position: relative;
  }

  .inputContainer {
    position: relative;
    box-sizing: border-box;

    input {
      background-color: #fff;
      color: #587169;
      border: 2px solid #cad6d1;
      width: 316px;
      height: 56px;
      margin-left: 0.3rem;
      border-radius: 8px;
      padding: 18px 22px;
      padding-left: 45px;
      font-size: 16px;
    }

    span {
      position: absolute;
      background-color: #fff;
      color: #a3b8b0;
      padding: 0 5px;
      bottom: 78%;
      left: 8%;
      z-index: 99;
    }

    .searchIcon {
      position: absolute;
      width: 1.7rem;
      height: 1.7rem;
      color: #587169;
      bottom: 28%;
      left: 6.5%;
      z-index: 98;
    }
  }
}

.horizonLine {
  width: 100%;
  border: 1px solid #eaefed;
  bottom: 40px;
  gap: 10px;
}

.cardContainer {
  h2 {
    font-size: 16px;
    line-height: 16px;
    color: #34423d;
    font-weight: 600;
    width: 100%;
    margin-left: 0.3rem;
    margin-bottom: 24px;
  }

  .btnMore {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #b5f1dd;
    width: 318px;
    height: 52px;
    color: #34423d;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

    img {
      margin-right: 8px;
      font-size: 16px;
    }
  }
}

// Setting for +1024px
.mainContainer {
  width: 100vw;

  aside {
    border: 1px solid #eaefed;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(165, 171, 179, 0.16);
    position: absolute;
    height: 1080px;
    width: 13.33%;
    left: 0px;
    top: 60px;
    bottom: 0px;
  }

  .dashBoadContainer {
    height: 94.81%;
    width: 89.76%;

    .titleContainer {
      color: #34423D;
      font-size: 32px;
      font-weight: 600;
      line-height: 100%;
      margin-top: 4.62%;
      margin-left: 31.77%;
      height: 32px;
      width: 210px;
    }
  }
}
