.containerOrganizational {
  align-items: flex-start;
  border: 2px solid #EAEFED;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  order: 2;
  padding: 20px;
  width: 100%;

  h2 {
    color: #34423D;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
  }

  section {
    margin: 0;
    padding: 0;
    position: relative;

    p {
      background-color: #FFFFFF;
      background-position: top;
      bottom: 66px;
      border-radius: 5px;
      height: 18px;
      color: #A3B8B0;
      font-size: 14px;
      font-weight: 500;
      padding: 5px;
      position: absolute;
      left: 15px;
    }
  }

  .selectOptions{
    background-color: #F5FAF8;
    border: 2px solid #CAD6D1;
    border-radius: 8px;
    box-sizing: border-box;
    color: #587169;
    height: 5rem;
    padding: 1.42rem;
    width: 19.7rem;
  }
} 

@media screen and (min-width: 1024px) {
  .containerOrganizational {
    width: 1140px;
    height: 290px;
    margin: 0 auto;

    div {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      height: 250px;
      width: 100%;

      section {
        p{
          top: -14px;
        }
      }

      .selectOptions {
        width: 500px;
       
      }
    }
  }
}