$neutralBlack: #34423d;
$neutralTertiary: #eaefed;
$neutralWhite: #ffffff;
$neutralColor2: #cad6d1;
$neutralColor3: #a3b8b0;
$neutralColor5: #587169;

.positionContainer {
  margin-bottom:40px;
  
  .topContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 42px 0px 24px 16px;

    span {
      align-items: center;
      background-color: $neutralTertiary;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: 16px;
      height: 32px;
      padding: 4px;
      width: 32px;
    }

    h1 {
      color: $neutralBlack;
      font-size: 24px;
      font-weight: 600;
      height: 24px;
      line-height: 100%;
      width: fit-content;
    }
  }

  .mainContainer {
    align-items: center;
    background-color: $neutralWhite;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(8px 4px 8px rgba(165, 171, 179, 0.16));
    margin: 0 auto;
    height: fit-content;
    padding: 40px 0px;
    width: 96.66%;

    h3 {
      color: $neutralBlack;
      font-size: 16px;
      font-weight: 600;
      line-height: 100%;
      text-align: start;
      margin: 0px 0px 24px 24px;
      height: 16px;
      width: 100%;
    }

    .filterContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      select {
        background-color: $neutralWhite;
        border: 2px solid $neutralColor2;
        border-radius: 8px;
        box-sizing: border-box;
        color: $neutralColor5;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        padding: 10px;
        position: relative;
        margin: 0px 0px 24px 0px;
        height: 56px;
        width: 96%;
      }
      p {
        background-color: $neutralWhite;
        color: $neutralColor3;
        font-size: 14px;
        font-weight: 500;
        left: 20px;
        position: absolute;
        top: -9px;
        width: fit-content;
        z-index: 1;
      }

      .inputContainer {
        align-items: center;
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;

        input {
          background-color: $neutralWhite;
          border: 2px solid $neutralColor2;
          border-radius: 8px;
          box-sizing: border-box;
          color: $neutralColor5;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          padding: 10px;
          position: relative;
          margin: 0px 0px 40px 0px;
          height: 56px;
          width: 96%;
        }
        p {
          position: absolute;
        }
      }
    }

    .horizonLine{
      width: 100%;
      border: 1px solid $neutralTertiary;
      bottom: 40px;
      gap: 10px;
    }
    
  }
}
